[Unit]
Description=Start dashboard
After=weston.service
Requires=weston.service

[Service]
Type=simple
User=root
PAMName=login
Environment=WAYLAND_DISPLAY=/run/wayland-0
Environment=QT_QPA_PLATFORM=wayland-egl
ExecStart=/usr/share/dashboard/dashboard --fullscreen
Restart=always

[Install]
WantedBy=graphical.target

