[Unit]
Description=Start dashboard
DefaultDependencies=no

[Service]
Type=simple
User=root
PAMName=login
Environment=QT_QPA_PLATFORM=linuxfb
ExecStart=/usr/share/dashboard/dashboard --fullscreen
Restart=always

[Install]
WantedBy=sysinit.target

